/* Diagnostic */

* {

}

body {
   font-family: "Tanker", sans-serif;
   transition: background 0.5s;
}

main {
   font-size: 5rem;
   display: grid;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   margin: auto;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows:  repeat(5, 1fr);
}
.dark {
   background: hsl(0, 0%, 25%);
   color: #f5f5f5;
}
time {
   text-align:center;
   justify-content: center;
   vertical-align: middle;
}
time.time {

     grid-column: 2;
  grid-row: 2;
}
time.date {

   grid-column: 2;
  grid-row: 3;
}
